<!-- Main -->
<article id="main">

    <section class="wrapper style5">
        <div class="inner">
            <h2>Step By Step Buying Guide</h2>
            <!-- Contenedor -->
            <ul id="accordion" class="accordion">
              <li>
                <div class="link"><i class="fa fa-database"></i>Select The Right Agent<i class="fa fa-chevron-down"></i></div>
                
                <!--<ul class="submenu">
                  <li><a href="#">Photoshop</a></li>
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                </ul>-->
                <p class="submenu">
                The first step in finding a house is to select the right agent. Purchasing a home is a big investment with many legal and financial ramifications, so you should not choose an agent merely on “personal connection” or because that agent is “nice,” without further investigation. Just like lawyers and doctors, the best agents tend to specialize in certain types of sales, certain market segments, or other special areas.

Here at DeLeon Realty, we offer just that. We require all of our salaried buyer agents to have specialized knowledge within particular cities and neighborhoods. While no agent is “right” for everyone, we believe that experience, training, education, background, and specialization all contribute to success.

Nowadays, it is easy to locate properties through a combination of open houses and online searching. It may not, however, be in the clients’ best interests to wait until they locate a house to select a specific agent.

Our experienced agents can help identify the right neighborhood, coordinate financing, explain the tax consequences of home ownership, filter out inappropriate properties, identify off-market opportunities, and answer questions that come up along the way. Additionally, our agents will help screen properties during broker tour and notify you when suitable properties come on the market.
                </p>
              </li>
              <li>
                <div class="link"><i class="fa fa-code"></i>Know The Neighborhoods and Marketplace<i class="fa fa-chevron-down"></i></div>
                <p class="submenu">

                Clients generally have an initial idea of what cities and neighborhoods appeal most to them. However, you should examine your criteria to determine the areas within the neighborhoods you feel are a good match.

                Our agents will personally take you to some of the neighborhoods, give you an overview of the area, and show a few representative homes. More importantly, our agents will provide you with information about local schools, parks, and appreciation potential of each area. Generally, clients should not purchase a home until they are familiar with the neighborhoods and have seen enough properties to truly recognize an excellent fit.</p>
              </li>
              <li>
                <div class="link"><i class="fa fa-mobile"></i>Get Pre-Approved<i class="fa fa-chevron-down"></i></div>
                <p class="submenu">Getting pre-approved by a local lender or mortgage broker is one of the first things you should do for many reasons. In Silicon Valley, a pre-approval letter is a prerequisite for serious consideration of your offer. Knowing the available loan amount will aid in determining how much you intend to spend on your home and which neighborhoods to consider.

Generally, you should begin the pre-approval process immediately after meeting with your agent. If any issues come up, such as inaccuracies that make your credit score lower than expected, you will have time to resolve them. Our agents can help you through this process and recommend excellent lenders and mortgage brokers. Our recommendations are completely free of any conflict of interest; our agents do not benefit monetarily from providing recommendations.

                </p>
              </li>
              <li>
                <div class="link"><i class="fa fa-mobile"></i>Find a Home and Review Disclosures<i class="fa fa-chevron-down"></i></div>
                <div class="submenu">
                    <p>
Once you have located the desired property, carefully review the disclosures that the seller and listing agent provide.

Disclosures contain many important items, most notably the property and pest inspections, the seller’s disclosures, and the title report. Our agents will provide you with a summary of the important issues to help in your review of the disclosures.</p>

<h3>Property Inspection Report</h3>
<p>
The property inspection is the inspector’s opinion on the home’s plumbing, electrical systems, foundation, roof, and overall condition. This report will list all issues the inspector finds. The property inspector does not provide the cost estimates. Generally, items found in the property inspections are not addressed by the seller, but they are your responsibility to repair.</p>

<h3>Pest Inspection Report</h3>
<p>
The pest report will look for any damage to wood, most likely caused by termites, as well as any water damage that may be found in the home. Unlike the property inspection report, the pest report will usually list the costs required to alleviate these issues.</p>

<p>The pest report describes damage as a Section I or Section II issues. Section I issues are current problems with the home, such as active termite infestation or dry wall damage in which water has rotted away at the wood underneath the flooring or walls. Section II issues are future problems with the home, ones that could lead to pest or water damage in the future, such as a lack of caulking by the bathtub that could lead to future water damage.</p>

<p>Generally, the seller is responsible for Section I issues, and the buyer is responsible for Section II issues. However, if you purchase the home in “as is” condition, you are responsible for addressing the Section I issues. In a seller’s market, such as the one we are currently experiencing, the vast majority of homes are taken “as is.”</p>

<h3>Seller’s Disclosures</h3>
<p>The seller’s disclosures contain answers to questions, such as whether any remodeling has been done, and if so, whether the remodeling was done with permits. California is very protective of homebuyers and requires sellers to disclose all known material problems a property may have.</p>

<h3>Title Report</h3>
<p>The title report is issued by a company, such as First American or Chicago Title, and insures that the seller can convey clear title without any liens preventing a smooth conveyance. All liens that may be on the property, such as unpaid property taxes, are listed in the title report. Problems with conveying title are rare.</p>

<h3>Homeowners Association (HOA) Documents</h3>
<p>If you are considering a townhouse or condominium, it is likely that the HOA documents will be included in the disclosures or be quickly forthcoming. Important issues to consider include the size of financial reserves, whether any litigation or special assessments are looming, and whether there are plans to heavily increase HOA dues. Unlike the interest on your mortgage, HOA dues are not tax-deductible. Together, you and our agent will review the disclosures and discuss any concerns either of you may have with the information contained therein. Only after you feel comfortable with the disclosures should you consider making an offer.</p>

                </div>
              </li>
              <li>
                <div class="link"><i class="fa fa-mobile"></i>Make An Offer<i class="fa fa-chevron-down"></i></div>
                <p class="submenu">
Next, our agent will work with you to draft an offer. Our agent will speak with the listing agent ahead of time to ascertain the seller’s desires and to see if you can offer any items of value to the seller with little cost to you. This shows your desire to work with the seller and can optimize the situation for both you and the seller. Regarding what price to offer, our agent will provide you with a comparable market analysis, showing the selling price of recent comparable properties and what the market value is of the current property. Additionally, our agent will update you on the interest level of other parties and whether you may be in a multiple-offer situation.
                </p>
              </li>
              <li>
                <div class="link"><i class="fa fa-mobile"></i>Acceptance, Rejection or Counters<i class="fa fa-chevron-down"></i></div>
                <p class="submenu">
Once an offer is made, it can be accepted, rejected, or countered. A counteroffer accepts all the terms of the contract, except the terms that are mentioned. For instance, a counteroffer may increase the purchase price or shorten the escrow period. A counteroffer can be made to one party or multiple parties. If there is only one counteroffer and that counteroffer is accepted, then a binding contract has formed. On the other hand, if there are multiple counteroffers, which may all have the same or different terms, the counteroffer must be accepted by the buyer and reaccepted by the seller, ensuring that the home sells to only one party.
                </p>
              </li>
              <li>
                <div class="link"><i class="fa fa-mobile"></i>During Escrow<i class="fa fa-chevron-down"></i></div>
                <p class="submenu">
After the parties formed a contractual agreement, the escrow period begins. An escrow company is a neutral third party that acts as an intermediary between the buyer and seller. In Northern California, title companies handle both the title and escrow duties of the same transaction. The most important job of the escrow company is to properly take the buyer’s money in exchange for the seller’s property. An average escrow period is 30 days, with the vast majority ranging from 15-45 days.

If your purchase contract has contingencies, such as a property contingency, then your agent will find inspectors to view the home during the contingency period. During this period, you can determine whether you want to proceed with the purchase. If you back out of a contract for a reason related to a contingency during the contingency period, then you are entitled to a full return of your “good faith deposit.” Our buyer agents can assist you and ask the seller to credit you for any new problems. Usually, an agreement can still be reached if the seller accepts your requests. If your findings uncover a major issue, such as bad foundation, then you will likely want to back out of the deal without seeking a credit, as this involves a lot of risk. If you have a loan, as most homebuyers do, then an appraiser will appraise your home. Also, our agents will work with your loan officer to ensure that the loan proceeds arrive on time and with little hassle.
                </p>
              </li>
              <li>
                <div class="link"><i class="fa fa-mobile"></i>Day Of Closing<i class="fa fa-chevron-down"></i></div>
                <p class="submenu">

On the day of closing, the escrow company transfers your funds to the seller and records the deed in your name with the county. Once you are on record with the county, our agent will provide you with the keys, garage opener, and access codes, if any. Other information, such as manuals for appliances, are usually left at the property. While you are the owner of record when escrow closes, you generally will not receive the official deed from the county until three months later.
                </p>
              </li>
              <li>
                <div class="link"><i class="fa fa-mobile"></i>Enjoy Your Home<i class="fa fa-chevron-down"></i></div>
                <p class="submenu">

Enjoy your new home! DeLeon Realty is here to serve you for all of your housing questions or issues during the escrow period and even after you close.
                </p>
              </li>

            </ul>
        </div>
    </section>
</article>
<script defer src="./assets/js/accordion.js"></script>


