<!DOCTYPE html>

<html>
<head>
<title>Coelho Realty Group</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

</head>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/11.1.0/nouislider.min.css">

<!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="../assets/css/ie9.css" /><![endif]-->


{{#if results}} 
 <!-- <link rel="stylesheet" href="../assets/css/main.css" /> -butcher this one? -->
 
{{else}} 
  <link rel="stylesheet" href="../assets/css/main.css" />
{{/if}} 



<link rel="stylesheet" href="../assets/css/modal.css" />
<link rel="stylesheet" href="../assets/css/featured.css" />
<link rel="stylesheet" href="../assets/css/about.css" />
<link rel="stylesheet" href="../assets/css/accordion.css" />


<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/jquery.scrollex.min.js"></script>
<script src="../assets/js/jquery.scrolly.min.js"></script>
<script src="../assets/js/skel.min.js"></script>
<script src="../assets/js/util.js"></script>
<!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/11.1.0/nouislider.min.js"></script>
<!--<script language="javascript" src="./PropertySearch_files/soldSearch.js"></script>-->


<body {{#if home}} class="landing" {{/if}}>



<!-- Page Wrapper -->
<div id="page-wrapper">

  <header id="header"  {{#if home}} class="alt" {{/if}}>
    <h1><a href="../">Coelho Realty</a></h1>
    <nav id="nav">
      <ul>
	<li class="special">
	<a href="#menu" class="menuToggle"><span>Menu</span></a>
	<div id="menu">
	  <ul>
	    <li><a href="../">Home</a></li>
	    <li><a href="../featured">Featured</a></li>
	    <li><a href="../about">About</a></li>											
	    <li><a href="../buyers">Buyers</a></li>
	    <li><a href="../sellers">Sellers</a></li>
	    <li><a href="../search">Search</a></li>	  	    
	    <li><a href="../contact">Contact</a></li>	    	    
	  </ul>
	</div>
	</li>
      </ul>
    </nav>
  </header>




  <!--Each Page--> 
  {{{body}}}



  <!-- Footer -->
  <footer id="footer">
    <ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
      <!--<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>-->

    </ul>
    <ul class="copyright">
      <li>&copy; Coelho Realty</li><li><a href="#page-wrapper" class="scrolly ">Back to Top</a></li>
    </ul>
  </footer>


</div>







<!--<script src="../assets/js/main.js"></script>-->

<script src="../assets/js/main.js"></script>


</body>
</html>
