<!-- Banner -->

<article id="main">
    <section class="wrapper style5">
        <div class="inner">
        <ul class="actions">

            <div class="content">
                <div class="buttons solo">
                            <h2>Find your new</h2>

                    <div id="one" class="button icon special fa-search">Home</div>
                </div>
            </div>
            <div class='search'>
                {{> search}} 
            </div>
        </ul>
        </div>
    </section>

</article>



