<!-- Main -->
<article id="main">

    <section class="wrapper style5">
        <div class="inner">
            <h2>Step by Step Selling Guide</h2>
            <!-- Contenedor -->
            <ul id="accordion" class="accordion">
              <li>
                <div class="link"><i class="fa fa-database"></i>Listing Your Home<i class="fa fa-chevron-down"></i></div>
                <!--<ul class="submenu">
                  <li><a href="#">Photoshop</a></li>
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                </ul>-->
                <div class="submenu">
                    <p>Now that you’re seriously considering selling your home, the first question that may cross your mind is “How much is my house worth?” How much you’re going to get for your home depends on the following three main factors combined:</p>

                    <p>The housing market, the condition of the house, and the listing agent.</p>
                
                    <p>Of these three, you only have control over the last two: the condition of the house and the listing agent. The most crucial decision you can make is selecting the right agent because your agent should be able to help you manage the other two factors: the housing market and the condition of the house.</p>
                </div>
              </li>           
              <li>
                <div class="link"><i class="fa fa-database"></i>Selecting The Right Agent<i class="fa fa-chevron-down"></i></div>
                <div class="submenu">
                    <p>If you’ve lived in Massachusetts long enough, chances are you know at least one person who’s a licensed real estate agent. But as with any profession, there are good ones, mediocre ones, and incompetent ones. A good agent will help you navigate the housing market and prepare for probabilities. A good agent will guide you through getting your house ready and other decisions related to improving the condition of your house. A good agent will know the current and historical market performance of homes similar to yours and will accurately identify how yours is different and account for pricing adjustments accordingly.</p>
                    <p>
                    But even a good agent may not be the right agent for you. Of course, there are basic things you should expect from your agent, but there are also other considerations you should bear in mind:</p>
                    <h3>The agent’s experience and track record</h3>
                    <p>Has the agent represented many sellers and successfully sold their homes? How long before these homes sell and for how much, relative to the current market?</p>
                    <h3>The listing strategy </h3>
                    <p> Does the agent have a detailed plan? How effective does it seem? Is it a general approach or a property-specific approach? Can this agent recommend a reputable contractor, handyman, stager, and even a cleaner? Will the agent oversee the improvement projects of your house?</p>
                    <h3>The agent’s connections </h3>
                    <p>Does this agent have a good reputation among his or her peers? Can this agent reach out to the community and start marketing your home before it gets put on the Multiple Listing Service (MLS)?</p>
                    <h3>Image and professionalism</h3>
                    <p>Do you want this agent to represent you in front of other agents and prospective buyers? Do you want your house to be perceived based on the impression this agent makes on people?</p>
                </div>                
              </li>   
              <li>
                <div class="link"><i class="fa fa-database"></i>Signing The Leasing Agreement<i class="fa fa-chevron-down"></i></div>
                <div class="submenu">
                    <p>Once you’ve decided on the agent you want to work with, the next step is signing a listing agreement with them. The listing agreement commits you to an exclusive arrangement with the agent for a set period of time. The typical time period is three months, but in sluggish housing markets or in the luxury home market, six-month or one-year agreements are the norm.</p>
                    <p>During your meeting to sign the listing agreement, or shortly thereafter, your agent will assist you in fulfilling your disclosure obligations (as mandated in California) by having you answer a series of forms and questionnaires. Your agent will also order reports on your behalf:</p>
                    <h3>Property Inspection Report </h3>
                    <p>A licensed property inspector will go over your home’s structure and systems to check for functionality, operability and code compliance. A written report will be issued based on the inspector’s findings, detailing basic information and recommendations for repair, replacement, or maintenance.</p>
                    <h3>Pest Inspection Report</h3>
                    <p> A licensed pest inspector will check your home for termite or other pest infestation that could affect your home, as well as dry rot, wet rot, and fungus damage. If any of these are found, recommendations and estimates are then provided in a written report.</p>
                    <p>These reports are part of the buyer’s due diligence process, and the inspections could be performed by the buyers at their own costs. However, it is highly recommended that you have the inspections done before marketing your house to best anticipate problems, determine list price, and minimize buyer issues that could cause them to back out of the purchase.</p>
                </div>
              </li>
              <li>
                <div class="link"><i class="fa fa-database"></i>Pricing Your Home<i class="fa fa-chevron-down"></i></div>
                <div class="submenu">
                    <p>Knowing where the housing market is heading is critical when pricing your home. Market conditions vary, based on everything from supply-demand issues to buyers’ attitudes. What’s the economic outlook?  Is there job growth or job security in the area? Are interest rates going up or going down? What kind of a loan can someone get these days, and how hard is it to apply for one? Are there too many homes similar to yours currently for sale? Are buyers feeling optimistic and willing to tie up their assets with a home purchase? These are just some of the issues that come into play in the housing market.</p>
                    <p>In addition, the market is seasonal, especially in Silicon Valley where schools tend to be the primary reason for housing decisions.</p>
                    <p>During late winter to early spring (late January to late February) the housing market starts to warm up, as families recover from the holidays and start looking to make a move.</p>
                    <p>Spring to early summer (March to May) is generally the best time to sell your home as parents need to buy within particular school districts in anticipation for enrollment in the next school year.</p>
                    <p>Summer (June to August) tends to see a slow down as people leave town for vacation trips.</p>
                    <p>Late summer to early fall (September to October) usually has a bit of a spike in sales activity as people come back from vacation and want to get into a home by the year’s end.</p>
                    <p>Once the winter holidays kick in, and the market settles in for the winter (November to January), the only buying most people consider are holiday gifts. While your competition is whittled down because other sellers do not want to deal with moving during the holidays, prices tend to be a little lower as buyers during this time are usually looking for a relative bargain.</p>
                    <p>This seasonal pattern should be taken in conjunction with current market indicators in determining your pricing strategy. Your property will generate the most interest when it first hits the market, and if it’s priced below or at market value, it will generate the most showings. Start too high and you may miss the excitement and have to drop the price later, causing it to sell below market value.</p>

                </div>
              </li>
              <li>
                <div class="link"><i class="fa fa-database"></i>Preparing Your Home<i class="fa fa-chevron-down"></i></div>
                <div class="submenu">
                    <p>Homeowners sometimes forget that when you are selling your home, you are, in fact, actually SELLING A PRODUCT. As with a car, a shampoo, or a dress, selling your house means highlighting the best parts of it and presenting it in the best possible way. Fully preparing your home for sale can make a considerable difference in the time it takes to sell it. You can help eliminate buyer objections before they arise by making necessary repairs and improvements. It could be as simple as removing clutter, personalized decorations, and having the house professionally cleaned, or it could be as drastic as repainting your entire house. If the house is vacant or has odd rooms or a less-than-ideal layout, an interior decorator or stager should be hired to bring in the right furniture and accents.</p>
                </div>
              </li>
              <li>
                <div class="link"><i class="fa fa-database"></i>Marketing Your Home<i class="fa fa-chevron-down"></i></div>
                <div class="submenu">
                    <p>Once the house is adequately prepared to accentuate its most attractive features, your agent puts together professionally photographed, produced and printed marketing materials. Your house is then included in the MLS and should receive additional exposure from online and print ads. Showings are made during open houses and by appointment.</p>
                </div>
              </li>
              <li>
                <div class="link"><i class="fa fa-database"></i>Negotiating the Contract<i class="fa fa-chevron-down"></i></div>
                <div class="submenu">
                    <p>If an interested buyer is serious enough, he or she puts together a purchase offer with his or her agent. The buyer’s agent then presents the offer to the listing (your) agent. Rarely does an offer get accepted as presented. There are usually terms that need to be revised, and this is addressed through the counteroffer process.</p>
                    <p>Should there be more than one interested buyer, there could be a multiple offer situation. A deadline should be set to hear offer presentations in this scenario. Agents in the Peninsula are generally familiar with multiple offer situations and will be comfortable presenting their client’s offer at an appointed time. In some occasions, given the bidding context, one party will exceed the others in amount and terms and will immediately be accepted by the seller. In others, the seller will have the option of counteroffering the highest offers or all of the offers.                    
                    </p>
                    <p>Your agent should thoroughly explain to you this process and discuss with you the best negotiation strategy.</p>
                </div>
              </li>
              <li>
                <div class="link"><i class="fa fa-database"></i>Going through Escrow<i class="fa fa-chevron-down"></i></div>
                <div class="submenu">
                    <p>
                    Upon ratification of the purchase contract, the escrow process begins. Escrow generally refers to money held by a neutral third-party on behalf of the transacting parties. Parties choose escrow to give them the assurance that no funds or property will change hands until ALL of the instructions in the transaction have been followed. The escrow holder has the obligation to safeguard the funds and/or documents that are in its possession, and to disburse funds and/or convey title only when all provisions of the escrow have been complied with.
                    </p>
                    <p>
                    During this process, the important timelines related to contingencies in the contract are as followed:
                    </p>
                    <p>- Buyer’s deposit is given to the escrow company</p>
                    <p>- Additional inspections, if any, are performed</p>
                    <p>- An appraisal is performed if there is a loan involved</p>
                    <p>- If there is a loan, the buyer goes through the lender’s approval and underwriting process</p>
                    <p>- If your property is a condo or townhouse, the homeowner’s association provides a package of HOA documents and transfer paperwork</p>
                    <p>- Once contingencies are removed, the escrow company contacts your mortgage holder and any other lien holder to request a pay-off amount. The escrow company then prepares the settlement statement detailing your pay-off and other closing-related expenses for your review. You will then meet with the escrow officer to sign the deed transfer and other documents, while the buyer meets separately to sign their loan and closing documents.</p> 
                </div>
              </li>
              <li>
                <div class="link"><i class="fa fa-database"></i>Closing the Sale<i class="fa fa-chevron-down"></i></div>
                <div class="submenu">
                    <p>
                    After the buyer signs off on the loan documents, the escrow company sends them back to the lender for final review and funding. Once escrow receives all the funds from both buyer and lender, the sale is recorded with the county and your ownership has been conveyed to the buyer. That day, all keys and garage door remote controls need to be turned over, and the house should be cleaned out and ready for the buyer.
                    </p>
                </div>
              </li>              
            </ul>
        </div>
    </section>
</article>
<script defer src="./assets/js/accordion.js"></script>


