video{
  width:50%; 
}
#video{
  width:100%;
  text-align:center;
  background:white;
  padding:0 100px 100px;  

}


@media screen and (max-width: 736px){
  video{
    width:100%;
  }
  #video{
    padding:0;
  }
}

#main > header.about{
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../../images/about.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../../images/about.jpg");
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../../images/about.jpg");
  background-image: linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../../images/about.jpg");

  background-repeat:no-repeat;
  background-size:cover;
  background-position:bottom;
}
.mylivechat_expanded,
.mylivechat_collapsed,
.mylivechat_collapsed_text,
.mylivechat_expanded_text,
.mylivechat_offline_submit_button{
	border: none !important;
    background: #2e3842 !important;
}
.descriptionCoelho{
  min-height:700px;
}
